@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;

}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	width: min-content;
}
body {
	display: flex;
	flex-direction: row;
	background-image: url(https://images.wallpaperscraft.com/image/cup_coffee_books_156306_3840x2400.jpg);
	background-size: 100%;
	color: white;
}
h1 {
	text-align: center;
}
.container__left {
	display: flex;
	flex-direction: column;
 	flex-grow: 3;
}
.container__right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
}
img {
	width: 100%;
	height: auto; 
}
button {
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 250px;
}	